<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Brand Name Centered -->
    <div class="navbar-brand mx-auto">Car Price Prediction</div>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Navigation Links Pushed to the Right -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="/old_model">Old Model</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/new_model">New Model</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/final_model">Final Model</a>
        </li>
      </ul>
    </div>
  </div>
</nav>